*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    font-family: arial;
}
.navbar{
    height:600px;
    background-image: url("back2.jpg");
    /* opacity: 0.9; */
    background-color: black;
    background-size: cover;
}
.navback{
    /* background-color: transparent; */
    margin-right:80px;
    margin-left:80px;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.logo{
    background-image: url("Logonetflix.png");
    width:130px;
    height:35px;
    /* margin-top:10px; */
    background-size: cover;
    /* color:red; */;
    margin-left: 47px;
}
.english{
    background-color: transparent;
    font-weight: 600;
    color:white;
    height:25px;
    width:100px;
    border-radius: 4px;
    
}
.b1{
    background-color: red;
    color:white;
    font-weight: 600;
    border:none;
    padding:4px;
    border-radius: 4px;
    font-size: 12px;
    height: 25px;
    width: 60px;
}
.navbtn{
    /* padding-top:20px; */
    padding-right: 30px;
}
 
.navcontent{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color:white;
    /* font-size: 25px; */
    /* font-weight: 900; */
    margin-top: 150px;
}
.pra{
    color:white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.text1{
    font-size:40px;
    font-weight:800;
    color:white;
    text-align: center;

}
.text2{
    font-size:15px;
    margin-top: 10px;
    color:white;
    text-align: center;
    font-weight: 800;

}
.text3{
    font-size:13px;
    margin-top: 20px;
    color:white;
    text-align: center;
    font-weight: 400;
}
.input{
    height:40px;
    width:270px;
    background-color: transparent;
    border-radius:5px;
    color:white;
    padding-left:12px;
}
.b3{
    height:40px;
    width:150px;
    background-color: red;
    border-radius:5px;
    color:white;
    font-weight: 550;
    margin-left: 10px;
    font-size:17px;
    border:none;
}

    

